//==============
//  covid-19 section 
// ==============

// covid-19 cases data styling here
.covid-heading{
    margin: 1rem 0rem 0 5rem;
    text-transform: capitalize;
}
.covid-cases{
    width: 40%;
}
.covid-data{
    display: flex;
    flex-direction: column;
    background: $whiteColor;
    border: 2px solid $primaryColor;
    padding: 1rem;
    margin-left: 3.5rem;
    .canada-header-img{
        width: 100%;
        align-self: center;
        img{
            width: 70%;
            margin: 1rem auto;
        }
    }
    .covid-cases-data{
        width: 100%;
        h3{
            color: $primaryColor;
            font-size: clamp(1rem, 2vw, 1.3rem);
        }

        ul li {
            margin: 1rem 0 1rem 0;
            font-weight: 700;
            border-radius: 5px;
            font-size: clamp(0.75rem,2vw,0.9rem);
        }
        
        ul li span{
            color: $primaryColor;
            text-align: right;
            width: 100%;
            font-weight: 500;
            font-size: clamp(0.75rem,2vw,0.9rem);
        }
    }
}
// covid-19 news data styling here

.covid-19-section{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    .covid-news{
        width: 45%;
        margin-left: 1rem;
        align-items: center;

        .covid-left-btn,
        .covid-right-btn{
            display: inline-block;
            font-size: 2rem;
            margin: 1rem;
            color: $primaryColor;
        cursor: pointer;
        &:hover{
            transform: scale(1.05);
            color:$primaryDarkColor;
            }
        }
        .covid-left-btn,
        .covid-right-btn{
            display: none;
        }

        .covid-news-list{
            width: 100%;
            overflow-x: scroll;
            ul{
                display: flex;
                width: 100%;
                
                li{
                    flex: 0 0 430px;
                    height: 510px;
                    margin: 0rem 2rem 0.5rem 0.5rem;
                    background: $whiteColor;
                    border-radius: 5px;
                    &:hover{
                        transform: scale(1.01);
                    }
                
                    h3{
                    color: $primaryColor;
                    line-height: 1.2;
                    margin-bottom: 1rem;
                    font-size: clamp(0.75rem,2vw,0.9rem);
                    font-family: $primaryFont;
                    font-weight: 600;
                    margin-left: 1rem;
                    margin-top: 1rem;
                }
                    div a{
                        text-decoration: none;
                        background-color: $primaryColor;
                        color: $whiteColor;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        padding: 0.5rem 0.75rem;
                        font-size: 0.75rem;
                        margin-left: 1rem; 
                        margin-top: 1rem; 
                        cursor: pointer;
                            &:hover{
                            color: $primaryColor;
                            border: 2px solid $primaryColor;
                            background-color: $whiteColor;
                        }                
                    }
                    p{
                        font-size: clamp(0.75rem,2vw,0.9rem);
                        font-family: $secondaryFont;
                        letter-spacing: 1px;
                        margin-top: 0.8rem;
                        margin-left: 1rem;
                        
                    }
                    img{
                        width: 100%;
                        height: 230px;
                        object-fit: cover;
                        border-top-left-radius: 5px;
                        border-top-right-radius:5px;
                    }
                    .news-topic-separator{
                    height: 1.5px;
                    width: 100px;
                    position: relative;
                    left: 50%;
                    transform: translate(-50%, 0);
                    background-color: black;
                    margin: 0.5rem 0;
                    }
                }
            }
        }
    } 
}
