body{
    background: $lightColor;
}
//===============
//  user input search section

// userSearch out put styling
.userSearch-outPut-Value,
.category-title{
    margin: 1rem 0rem 0 5rem;
    text-transform: capitalize;
    font-size: clamp(0.95rem,1.4vw,1.3rem);
}
#error-msg{
    text-align: center;
    color: $primaryColor;
    font: 1.5rem;
    letter-spacing: 2px;
}
.hide{
    display: none;
}

.user-input-search-section,
.news-category{
    display: flex;
    align-items: center;

    
    
    .left-btn,
    .right-btn,
    .category-left-btn,
    .category-right-btn{
        display: inline-block;
        font-size: 2rem;
        margin: 1rem;
        color: $primaryColor;
        cursor: pointer;
        &:hover{
            transform: scale(1.05);
            color:$primaryDarkColor;
        }
    }

    .user-search-news-box,
    .categories-news-box{ 
        overflow-x: hidden;
        width: 100%;
        
        ul {
            display: flex;

            li{
                height: 510px;
                flex: 0 0 430px;
                display: inline-block;
                margin: 1rem;
                background: $whiteColor;
                border-radius: 5px;
                 &:hover{
                    transform: scale(1.01);
                }
                
                h3{
                    color: $primaryColor;
                    line-height: 1.2;
                    margin-bottom: 1rem;
                    font-size: clamp(0.75rem,2vw,0.9rem);
                    font-family: $primaryFont;
                    font-weight: 600;
                    padding: 1rem 1rem 0 1rem;
                }
                div a{
                    margin-left: 1rem;
                    text-decoration: none;
                    background-color: $primaryColor;
                    color: $whiteColor;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    padding: 0.5rem 0.75rem;
                    font-size: 0.75rem;  
                    cursor: pointer;
                    &:hover{
                        color: $primaryColor;
                        border: 2px solid $primaryColor;
                        background-color: $whiteColor;
                    }             
                }
                p{
                    padding: 0 1rem;
                    font-size: clamp(0.75rem,2vw,0.9rem);
                    font-family: $secondaryFont;
                    letter-spacing: 1px;
                    margin-top: 1rem;
                    
                }
                img{
                    width: 100%;
                    height: 230px;
                    object-fit: cover;
                    border-top-left-radius: 5px;
                    border-top-right-radius:5px;

                }
                .news-topic-separator{
                    height: 1.5px;
                    width: 100px;
                    position: relative;
                    left: 50%;
                    transform: translate(-50%, 0);
                    background-color: black;
                    margin: 0.3rem 0;
                }
            }
        }
    }
}




// ===============

.loader-main{
    height: 400px;
    position: relative;
    left: 50%;
    padding-top: 158px;
}
.loader {
    align-items: center;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid $primaryColor;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.divider-line h2{
    text-transform: uppercase;
    position: absolute;
    bottom: 50%;
    left: 5%;
    background-color: $lightColor;
    transform: translate(0, 50%);
    font-size: clamp(1rem,1.5vw,1.5rem);
}
.divider-line{
    content: " ";
    width: 100%;
    background-color: black;
    height: 2px;
    position: relative;
    margin: 2rem 0;
}