// for button
// @mixin button ($backgroundColor, $textColor, $borderColor){
//     background-color:$backgroundColor;
//     color: $textColor;
//     border: 2px solid $borderColor;
//     letter-spacing: 2px;
// }

// font size
@mixin fontSize ($fontSize, $lineHeight, $fontColor ) {   
    letter-spacing: 2px;
    font-weight: normal;
    font-size: $fontSize;
    line-height:$lineHeight;
    color: $fontColor;
}
