// background color 
$primaryBackgroundColor : #fff;
$secondaryBackgroundColor : #e60505;

// color 
$blackColor: #000;
$redColor:#e60505;
$whiteColor:#fff;

// font family
$primaryFont: 'Open Sans', sans-serif;
$designFont : 'Roboto', sans-serif;