// background color 
$primaryBackgroundColor : #fff;
$secondaryBackgroundColor : #23689B;

// color 
$blackColor: #000;
$primaryColor:#23689b;
$primaryDarkColor:#053254;
$lightColor:#deebf6;
$whiteColor:#fff;

// font family
$primaryFont: 'Montserrat', sans-serif;
$secondaryFont : 'Lato', sans-serif;
$designFont:'Open Sans', sans-serif ;
