// background color 
$primaryBackgroundColor : #fff;
$secondaryBackgroundColor : #23689B;

// color 
$blackColor: #000;
$primaryColor:#23689b;
$primaryDarkColor:#053052;
$lightColor:rgb(222, 235, 246);
$whiteColor:#fff;
// 23689b
// font family
$primaryFont: 'Montserrat', sans-serif;
$secondaryFont : 'Lato', sans-serif;
$designFont:'Open Sans', sans-serif ;
