
// newsletter styling
.news-letter{
    background: #23689B;
    width: 40%;
    height: 70vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    // border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 0 5px $blackColor;
    text-align: center;
    
    h2{
        // color: $primaryColor;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 3rem 0.2rem 3rem 0.2rem;
        text-shadow:$blackColor 1px 0 3px;
        color: $whiteColor;
        font-family: $primaryFont;
        font-size: clamp(1.2rem,2.2vw,1.5rem);
        
    }
    p{
        letter-spacing: 2px;
        margin-bottom: 5rem;
        font-size: clamp(0.85rem,1.7vw,1rem);
        line-height: 1.5;
        width: 70%;
        margin: 1.5rem auto;
        color: $whiteColor;
        font-family: 'Architects Daughter', cursive;

    }
    p.terms{
        text-decoration: underline;
        margin-top: 3rem;
        cursor: pointer;
        
    }
    input[type="email"]{
        display: block;
        width: 80%;
        margin: 0 auto;
        height: 2rem;
        background: $whiteColor;
        font-size: clamp(0.85rem,1vw,1.2rem);
        border: none;
        border-radius: 10px;
        padding-left: 10px;
        box-shadow: 0 0 3px $blackColor;
        &::placeholder {
            letter-spacing: 2px;
            font-size: 1rem;
        }
    }
    button{
        padding: 0.3rem 0.85rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        border: 2px solid $whiteColor;
        background: transparent;
        color: $whiteColor;
        font-size: clamp(0.85rem,1vw,1rem);
        margin-top: 1rem;
        &:hover{
            transform: scale(1.03);
        }
    }
    .time{
        position: fixed;
        top: 1rem;
        right: 1rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: $whiteColor;
        &:hover{
            transform: scale(1.05);
        }
    }
    .help{ 
        position: fixed; 
        bottom: 1rem;
        right: 1rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: $whiteColor;
        &:hover{
            transform: scale(1.05);
        }
    }

    
}

// overlay one page for subscribe page
#overlay{
    background-color: rgb(222, 235, 246,0.9);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
}
#overlay.show{
    opacity: 1;
    pointer-events: all;
}
#news-letter{
    display: none;   
}
#news-letter.appear{
    display: block;   
}


