// media query for 1100px
@media (max-width:1100px) {
    .wrapper{
        width: 100%;
    }
    .user-input-search-section .user-search-news-box,
    .news-category .categories-news-box{
        ul li {
            flex: 0 0 43%;
        }
    }
    .covid-19-section .covid-news .covid-news-list {
        ul li {
            flex: 0 0 90%;
        }
    }
    .covid-data{
        flex-direction: column;
        text-align: center;
    }
    .news-letter{
        width: 70%;
    }
}
@media (max-width:850px) {
    // navbar menu
    .navbar{
        align-items: flex-end;
        flex-direction: column;
        padding: 1rem;
        .news-logo {
            align-self: flex-start;
        }
        .navBar-menu{
            display: none;
            
            form .form-list{
                align-items: flex-end;
                flex-direction: column;
                margin-top: 0.5rem;

                input[type="text"]{
                    margin-bottom: 1rem;
                    margin-right: 0px;
                }
                button{
                    margin-bottom: 1.5rem;
                    width: 200px;
                    margin-right: 0rem;
                }
                select{
                    width: 200px;
                }
            }
        }
        .navBar-menu .visiable{
            display: block;
            
        }
        .news-letter{
            width: 80%;
            height: 80vh;
        }
        .hamburger-menu{
            visibility: visible;
            font-size: 1.5rem;
            color: $whiteColor;
            position: absolute;
            right: 1.5rem;
            top: 1.2rem;
        }
    }



    .user-input-search-section .user-search-news-box,
    .news-category .categories-news-box{
        overflow-x: scroll;
        ul li {
            flex: 0 0 45%;
        }
    }
    .covid-19-section{
        flex-direction: column;

        .covid-news {
            width: 100%;
            display: flex;
            align-items: center;
            margin-left: 0;
        
            .covid-news-list {
                overflow-x: scroll;
                ul{
                    li {
                        flex: 0 0 45%;
                        margin-top: 1rem;
                    }
                }
            }
                .covid-left-btn,
                .covid-right-btn{
                    display: inline-block;
                }
        }
        .covid-cases{
            width: 80%;
            margin: 0 auto;

            .covid-data{
                margin-left: 0;

                img{
                    width: 70%;
                    margin-bottom: 1rem;
                }
            }
        }
    }
    
    // 
    .scroll-guide{
        display: none;
    }
    // footer section 
    footer .footer-feature{
        flex-direction: column;

        .footer-menu,
        .subscribtion-section{
            width: 100%;
            margin: 0 auto;
        }
        .subscribtion-section{
            margin: 2rem 0;
        }
       
    }
}

@media (max-width:700px) {
    .user-input-search-section .user-search-news-box,
    .news-category .categories-news-box,
    .covid-data-news-section .covid-news .covid-news-list {
        ul li {
            flex: 0 0 60%;
        }
    
    }
}
@media (max-width:550px) {
    .userSearch-outPut-Value,
    .category-title,
    .covid-heading{
        margin: 1rem 0rem 0 1rem;
    }
    .covid-19-section{
        .covid-news{
            .covid-left-btn,
            .covid-right-btn{
                display: none;
            }
        }
    }
    .user-input-search-section,
    .news-category{
        .left-btn,
        .right-btn,
        .category-left-btn,
        .category-right-btn{
            display: none;
        }
    }
    .navbar{
        align-items: center;
        .news-logo {
            align-self: center;
        }
    }
    .user-input-search-section .user-search-news-box,
    .news-category .categories-news-box,
    .covid-data-news-section .covid-news .covid-news-list {
        ul li {
            flex: 0 0 70%;
        }
    
    }
}